@import './nav.css';
@import './chart.css';

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #009900;
}

p{
  font-size: 1.2em;
  line-height: 140%;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  justify-items: start;
}

main{
  background:#F0F0F0;
  grid-template-rows: 100%;
}

.container_full{
  margin: 2em 0;
  grid-column-start: 2;
  grid-column-end: 10;
  background: white;
  width: 100%;
  border-radius: 4px;
}

.container_full.with_subnav{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.container_full.with_subnav .container-content{
  padding-top: 1em ;
}

.container-content{
  display: flex;
  padding: 3em;
}

.container-content_left{
  width: 50%;
}

.container-content_left p{
  max-width: 35em;
}

.container-content_right{
  width: 50%;
}

/* Dashboard */

section.dashboard{
  display: flex;
}

/*profiles*/

.profile-level-description{
  margin-bottom: 1em;
}
.profile-level-description h3, .profile-level-description h4{
  margin: 0;
}

.profile-level-description h4{
  font-weight: 300;
}

.profile-level-description.basis h3{
  color: #57A634;
}

.profile-level-description.junior h3{
  color: #FFC300;
}

.profile-level-description.medior h3{
  color: #FF9900;
}

.profile-level-description.senior h3{
  color: #FF3333;
}

.profile-level-description.mentor h3{
  color: #93117E;
}