.radarStyle {
    width: 700px !important;
    height: 700px !important;
  }
  
  svg > g > g> g:nth-of-type(1)> text {
    display: none;
  }
  
  svg > g > g> g> circle:nth-last-of-type(1) {
    stroke-width: 1px; 
    opacity: .1;
  }
  
  svg > g > g> g> circle:nth-last-of-type(2) {
    stroke-width: 2px; 
    opacity: .2;
  }
  
  svg > g > g> g> circle:nth-last-of-type(3) {
    stroke-width: 3px; 
    opacity: .2;
  }
  
  svg > g > g> g> circle:nth-last-of-type(4) {
    stroke-width: 4px; 
    opacity: .5;
  }
  
  svg > g > g> g> circle:nth-last-of-type(5) {
    stroke-width: 4px; 
    opacity: 1;
  }
  
  line {
    stroke-width: 1px;
    stroke: #009900;
    opacity: .1;
  }  
  
  circle {
    stroke: #009900;
  }  
   
  path {
    /* fill: #FF9900; */
    fill-opacity: .7;
    /* stroke: #FF9900; */
    stroke-opacity: .7;
  }  
  
  path:nth-of-type(2) {
    fill: #57A634;
    fill-opacity: .7;
    stroke: #57A634;
    stroke-opacity: .7;
  }
  
  g:not(:first-of-type) > circle {
    display: none;
  }  